*{
    box-sizing: border-box;
}
.container{
    
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    grid-auto-rows: 200px;
    grid-gap: 5px;
}
.grid-container{
   
   
    border: 1px solid white;
    padding: 10px;
    color: black;
}
img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.one{
    grid-column: span 2;
    grid-row: span 2;
}